# Node
node_modules/
.env

# Playwright
/test-results/
/playwright-report/
/playwright/.cache/
/tests/data/reports
/tests/data/secure
/tests/data/snapshots
/tests/data/render-screenshots
playwright.db
